.grs-message-box{
  margin: .5rem;
  padding: .5rem;
  border: solid 1px #ccc;
  border-radius: .25rem;
}
.grs-card{
	width: 300px;
	margin: 8px auto;
	background: #FFF;
	border: solid 1px #ccc;
	border-radius: .25rem;
  z-index: 1;
}
.grs-hero{
  img{
	  width: 100%;
    height: 150px;
	  vertical-align: bottom;
	  border-radius: .25rem .25rem 0 0;
    object-fit: cover;
  }
}
.grs-card-head{
	h1,h2,h3,h4,h5,h6{ font-size: 1rem; }
}




/********************
 Original Setting
********************/
.is-mobile-menu-open{
  .grs-card{
    background: none;
    border: solid 1px #999;
  }
}