.grs-message-box{
  margin: .5rem;
  padding: .5rem;
  border: solid 1px #ccc;
  border-radius: .25rem;
}
.grs-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 330px;
	width: 300px;
	margin: 8px auto;
	background: #FFF;
	border: solid 1px #ccc;
	border-radius: .25rem;
}
.grs-hero{
  img{
	  width: 100%;
    height: 150px;
	  vertical-align: bottom;
	  border-radius: .25rem .25rem 0 0;
    object-fit: cover;
  }
}
.grs-hero-link{
  display: block;
  text-decoration: none;
}
.grs-card-head{
	h1,h2,h3,h4,h5,h6{
    background-color: #FFF;
    width: 90%;
    text-align: center;
    margin: -10px auto 8px auto;
    padding: .25rem;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
    border: solid 1px #ccc;
  }
  .grs-card-subtitle{
    font-size: .8rem;
    overflow: hidden;
    white-space: nowrap;
  }
}
main{
  padding-top: 0.5rem;
}


.grs-batch{
  display: inline-block;
  padding: .25rem .5rem;
  margin: .25rem;
  border-radius: .25rem;
}
.grs-batch-small{
  font-size: .7rem;
}
.grs-light-red{
  background: #fdd;
}

.grs-block{
  display: block;
}


/********************
 Original Setting
********************/
$menu-open-border: #666;
.is-mobile-menu-open{
  .grs-card, .grs-message-box{
    background: none;
    border: solid 1px $menu-open-border;
  }
}



/**************
* TEST
**************/
.grs-card{
  width: 179.5px;
}